<div class="col-md-3">
    <div class="card movie-card">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{genre}}</h6>
            <p class="card-text">
                <strong>Ano:</strong> {{year}}<br>
                <strong>Nota:</strong> ⭐ {{rating}}<br>
                <strong>Diretor:</strong> {{director}}<br>
            </p>
            <button class="btn btn-primary watch-btn" data-movie='{{movie}}'>
                <i class="bi bi-camera-reels"></i> Marcar como assistido
            </button>
        </div>
    </div>
</div>
